<?xml version="1.0" encoding="UTF-8"?>

<!-- Add the entire logging file to .gitignore -->

<configuration monitorInterval="60">
	<Properties>
		<Property name="log-path">./log_files</Property>
		<Property name="archive">${log-path}/archive</Property>
	</Properties>
	<Appenders>
		<File name="File-Appender" fileName="${log-path}/rideshareLog.log"
			immediateFlush="false" modulate="true">
			<PatternLayout>
				<pattern>
					[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n
				</pattern>
			</PatternLayout>
		</File>
		<rollingfile name="RollingFile-Appender"
			filename="${log-path}/rollingfile.log"
			filepattern="${archive}/rollingfile.log.%d{yyyy-MM-dd}.gz"
			immediateFlush="false" modulate="true">
			<patternlayout
				pattern="[%-5level] %d{yyyy-MM-dd HH:mm:ss.SSS} [%t] %c{1} - %msg%n">
				<policies>
					<timebasedtriggeringpolicy interval="1"></timebasedtriggeringpolicy>
				</policies>
				<defaultrolloverstrategy max="20">
				</defaultrolloverstrategy>
			</patternlayout>
		</rollingfile>
		
		<!-- If email configuration for error notification is necessary in the future, the commented 
			line below can be used to do so.-->
		
		<!-- # SMTP Appender for sending email notification's when errors occurs 
			<SMTP name="MailAppender" subject="RideForce Error [Server Side]" to="youremail@example.com" 
			from="log4j2-demo-alerts@example.com" smtpHost="gmailSMTP" smtpPort="587" 
			smtpUsername="yourSMTPUsername" smtpPassword="yourSMTPPassword" bufferSize="1"> 
				<ThresholdFilter level="ERROR" onMatch="ACCEPT" onMismatch="DENY" /> 
				<PatternLayout> 
					<Pattern>${LOG_PATTERN}</Pattern>
				</PatternLayout>
			</SMTP> -->
	</Appenders>
	<Loggers>
		<Root level="debug">
			<AppenderRef ref="File-Appender" />
		</Root>
		<Logger name="com.revature.logger"
			level="error">
			<AppenderRef ref="File-Appender" level="error" />
		</Logger>
		<!-- <AsyncLogger
			name="org.springframework.web.filter.CommonsRequestLoggingFilter">
			<level value="DEBUG" />
			<AppenderRef ref="RollingFile-Appender" />
		</AsyncLogger> -->
	</Loggers>
</configuration>
